<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../static/webjars/bootstrap/css/style.css">
</head>
<body>
<div class="tt-item tt-itemselect">
  <div class="tt-col-avatar">
    <svg class="tt-icon">
      <use xlink:href="#icon-ava-k"></use>
    </svg>
  </div>
  <div class="tt-col-description">
    <h6 class="tt-title"><a href="page-single-topic.html">
      <svg class="tt-icon">
        <use xlink:href="#icon-pinned"></use>
      </svg>
      Halloween Costume Contest 2018 </a></h6>
    <div class="row align-items-center no-gutters">
      <div class="col-11">
        <ul class="tt-list-badge">
          <li class="show-mobile"><a href="#"><span class="tt-color01 tt-badge">这是吃啥</span></a></li>
          <li><a href="#"><span class="tt-badge">这是测试</span></a></li>
          <li><a href="#"><span class="tt-badge">这也是测试</span></a></li>
        </ul>
      </div>
      <div class="col-1 ml-auto show-mobile">
        <div class="tt-value">1h</div>
      </div>
    </div>
  </div>
  <div class="tt-col-category"><span class="tt-color01 tt-badge">这是吃啥</span></div>
  <div class="tt-col-value hide-mobile">985</div>
  <div class="tt-col-value tt-color-select hide-mobile">502</div>
  <div class="tt-col-value hide-mobile">15.1k</div>
  <div class="tt-col-value hide-mobile">1h</div>
</div>
</body>
</html>