<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.question.mapper.FeedbackMapper">

    <resultMap id="BaseResultMap" type="com.question.domain.Feedback">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createdBy" column="created_by" jdbcType="BIGINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="feedbackContent" column="feedback_content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,created_by,created_time,
        feedback_content
    </sql>
</mapper>
